*{
  margin: 0px;
  padding: 0px;
}
/* header-part */
.header{
  width: 1920px;
  height: 662px;
  background-color: rgb(236, 236, 236);
  margin-top: 30px;
  background-image: url('../assets/Hero-bg.png');
}
 
.Resume{
  display: flex;
  margin-top: 50px;
  justify-content: center;  
  justify-content: space-around;
}
.web{
  font-weight: 900px;
  font-size: 28px;
  font-family: "Work Sans", serif;
  color:#0D1321;
    
}
.but{
 width: 244px;
 height: 47px;
 font-family: "Work Sans", serif;
 font-weight:"semibold";
 font-size: 20px;
 border-radius: 8px;
   
}
.header,.img{
  text-align:center ;
  
  
}
.Group{
  margin-top: 26px;
  margin-bottom: 32px;
}
.title{
  font-weight: 900px;
  font-size: 48px;
  font-family: "Work Sans", serif;
  margin-bottom: 24px;
  color: #0D1321;
}
.pra{
  font-weight: 500px;
  font-size: 16px;
  color:#0D1321;
  font-family: "Work Sans", serif;
  margin-bottom: 32px;

}
.With{
  width: 244px;
  height: 65px;
  background-color: #0D1321;
  color: #fff;
  padding: 21px 24px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}
/* main part */
main{
  width: 1190px;
  height: 1595px;
  background-color: #ffffff;
  margin: 0px auto;
  margin-top: 50px;
}
.title-1{
  text-align: center;
}
 
.why{
  padding-top: 80px;
  font-weight: 900;
  font-size: 32px;
  font-family: "Work Sans", serif;
  margin-bottom: 24px;
  color: #0D1321;
   
 }
 .box1,.box3{
  width: 1000px;
  height: 350px;
  border: 5px dashed cyan;
  box-shadow: 10px 20px 40px black;
  border: none;
  font-family: "Work Sans", serif;
  display: flex;
  justify-content: space-around;
  padding-top: 48px;
  background-color: #fff;
  margin: 0 auto;
 }
 .box-right{
  padding: 50px;


 }
 .world{
  font-weight: bold;
  font-size: 24px;
  color: #0D1321;
  margin-bottom: 16px;
 }
 .More{
  width: 170px;
  height: 47px;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 20px;
 }
 .box2{
  width:1000px ;
  height: 300px;
  border: 8px solid black;
  box-shadow: 10px 20px 40px fuchsia;
  border: none;
  font-family: "Work Sans", serif;
  background-color: antiquewhite;
  margin: 0px auto; 
  margin-top: 32px;
  padding:48px ;
}
 .box2{
  display: flex;
  padding: 48px;
 }
 .box3{
  margin: 80px;
  margin-left: 80px;
 }
 .box-title{
  text-align: center;
 }
 
 .Css-box,.js-box,.box-html{
  width: 300px ;
  height: 200px;
  border: 2px solid black;
  border: none;
  padding: 40px;
  margin: 40px;
  border-radius: 7px;

 }
 .Css-box{
  background-color: #004de85e;
  box-shadow: 10px 10px 30px rgb(231, 255, 13);

 }
 .box-html{
  background-color: #ff4b1e6b;
  box-shadow: 10px 10px 30px rgb(61, 50, 61);
 }
 .js-box{
  background-color: #ffdd005e;
  box-shadow: 10px 10px 30px rgb(211, 98, 211);
 }
 .box-main{
   display: flex;
   font-family: "Work Sans", serif;
   justify-content: space-around;
  
 }
.learn{
  margin-top: 20px;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  color: #000000;

 }
.Next{
text-align: center;
font-family: "Work Sans", serif;
margin-top: 80px;
}
.Next1{
  font-weight: 900px;
  font-size: 32px;
  margin-bottom: 24px;
}
.Target,.Target-2,.Target-3{
  width: 1140px;
  height: 220px;
  background-color: #e9e9e9;
}
.Target,.Target-2,.Target-3{
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  border: none;
 margin-bottom: 30px;

}
.link{
  font-weight: bold;
  font-size: 16px;
  font-family: "Work Sans", serif;
  text-decoration: none;
  color: #000000;
  margin-top: 20px;
    
}
.main-foot{
  width: 1340px;
  height: 513px;
  margin-top: 80px;
  margin-bottom: 10px;
  background-color: bisque;
  background-image: url(../assets/handshake.jpg );
}
.need{
  text-align: center;
  padding-top: 65px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  font-family: "Work Sans", serif;
}
.off{
  color: #000;
}
.feedback{
  width: 550px;
  height: 50px;
  font-size: 20px;
  margin: 0px auto;
 border-radius: 10px;
  text-align: center;
  border: none;
}
.form{
  text-align: center;
  margin-top: 100px;
}
.Submit{
  width: 80px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  border: none;
  
}
/* .footer{
  width: 1400px;
  height: 100px;
  border: 2px solid black;
} */

  
 
